<!doctype html>
<html lang="pt-br">

<head>
    <title>Freedom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/paletas-cores.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<style th:inline="css">
.bannercontato {
    background-image: url("/images/praia-caribe.jpg");
    background-size: cover;
}
</style>

</head>
<body>
<nav th:replace="fragments/header::html_header(pageActive='contato')"></nav>
    <main>
        
        <section class="bannercontato">
            <div class="container py-5">
                <h1 class="pb-3 text-center text-warning">Entre em Contato</h1>
                <form class="bg-roxo p-5 w-50 mx-auto rounded-5">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="nome completo.">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="nome@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Assunto</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-warning" type="submit">
                            Enviar.
                        </button>
                    </div>

                </form>

            </div>

        </section>
<footer th:replace="fragments/footer::html_footer"></footer>
        
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>