<!doctype html>
<html lang="pt-br">

<head>
    <title>Freedom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/paletas-cores.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
<nav th:replace="fragments/header::html_header(pageActive='destino')"></nav>
    <main>
        
        <section>
            <div class="container py-5">
                <h1 class="pb-4">Destinos Nacionais</h1>
                <div class="d-flex justify-content-between flex-column flex-lg-row align-items-center">
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-estados/bahia.jpg}" class="card-img-top img-largura-max" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bahia - R$868,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para Bahia! A partir de R$ 868,00 por pessoa,
                                taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-estados/minas-gerais.jpg}" class="card-img-top img-largura-max" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Minas Gerais - R$925,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para Minas Gerais! A partir de R$ 925,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-estados/paraná.jpg}" class="card-img-top img-largura-max" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Paraná - R$786,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para o Paraná! A partir de R$ 786,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                </div>
                <!--Cards-wrapper1-->
                <div class="d-flex justify-content-between flex-column flex-lg-row align-items-center">
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-estados/rio-de-janeiro.jpg}" class="card-img-top img-largura-max"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rio de Janeiro - R$898,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para Rio de Janeiro! A partir de R$ 898,00 por
                                pessoa,
                                taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-estados/rio-grande-do-sul.jpg}" class="card-img-top img-largura-max"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rio Grande do Sul - R$925,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para Rio Grande do Sul! A partir de R$ 925,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-estados/são-paulo.jpg}" class="card-img-top img-largura-max" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">São Paulo - R$736,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para o São Paulo! A partir de R$ 736,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                </div>
                <!--Cards-wrapper2-->
            </div>
            <!--Inicio destino-iternacional-->
            <div class="container pb-5 text-lg-start text-center">
                <h1 class="pb-4">Destinos Internacionais</h1>
                <div class="d-flex justify-content-between flex-column flex-lg-row align-items-center">
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-continentes/áfrica-marrocos.jpg}" class="card-img-top img-largura-max"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Marrocos - R$2492,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para o Marrocos! A partir de R$ 2492,00 por
                                pessoa,
                                taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-continentes/ásia-bangkok.jpg}" class="card-img-top img-largura-max"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bangkok - R$3238,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para Bangkok! A partir de R$ 3238,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-continentes/américa-central-costa-rica.jpg}"
                            class="card-img-top img-largura-max" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Costa Rica - R$1897,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para o Costa Rica! A partir de R$ 1897,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                </div>
                <!--Cards-wrapper1-->
                <div class="d-flex justify-content-between flex-column flex-lg-row align-items-center">
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-continentes/américa-do-norte-new-york.jpg}"
                            class="card-img-top img-largura-max" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">New York - R$3148,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para New York! A partir de R$ 3148,00 por pessoa,
                                taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-continentes/américa-do-sul-lima.jpg}" class="card-img-top img-largura-max"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lima - R$1834,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para Lima! A partir de R$ 1834,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3" style="width:18rem;">
                        <img th:src="@{/images/bg-continentes/europa-paris.jpg}" class="card-img-top img-largura-max"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Paris - R$3769,00</h5>

                            <p class="card-text">PASSAGEM Ida e Volta para o Paris! A partir de R$3769,00 por
                                pessoa, taxas inclusas!</p>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam commodi corrupti
                                iusto, aperiam voluptatem ipsam. Deleniti at...</p>
                            <button class="btn btn-warning" type="button">
                                Saiba Mais
                            </button>
                        </div>
                    </div>
                </div>
                <!--Fim destino-internacional-->
            </div>
        </section>
<footer th:replace="fragments/footer::html_footer"></footer>
        
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>