<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/paletas-cores.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>



<body>
<nav th:replace="fragments/header::html_header(pageActive='cadastro')"></nav>
<div class="row my-5">
<div class="col-lg-6 mx-auto col-11">
    <form th:object="${usuario}" action="/pages/signup" method="post"> <label for="nome" class="form-label">Nome
            Completo*</label> <input th:field="${usuario.nome}" required id="nome" class="w-100 form-control mb-2"
            type="text" name="nome" /> <label for="cpf" class="form-label">CPF*</label> <input th:field="${usuario.cpf}"
            required id="cpf" class="w-100 form-control mb-2" type="text" name="cpf" /> <label for="email"
            class="form-label">E-mail*</label> <input th:field="${usuario.email}" required id="email"
            class="w-100 form-control mb-2" type="email" name="email" /> <label for="senha"
            class="form-label">Senha*</label> <input th:field="${usuario.password}" id="senha"
            class="w-100 form-control mb-2" type="password" name="senha" /> <label for="repitaSenha"
            class="form-label">Repita a Senha*</label> <input id="repitaSenha" class="w-100 form-control"
            type="password" name="repitaSenha" />
        <div class="text-center"> <input class="w-50 btn btn-warning my-3" type="submit" value="Registrar-se" /> </div>
    </form>
    </div>	
	</div>
	<footer th:replace="fragments/footer::html_footer"></footer>
	
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>



</html>