<footer class="bg-roxo" th:fragment="html_footer">
            <div class="container text-center py-5">
                <a href="/" class="navbar-brand text-light d-block mb-4"><img th:src="@{/images/logos/FREEDOM.png}"
                        width="100px" alt=""></a>
                <div class="bg-novoroxo rounded-pill w-75 p-3 mx-auto">
                    <h3>Formas de Pagamento</h3>
                    <img width="80px" th:src="@{/images/logos/american-express.svg}" alt="logo American Express" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/elo.svg}" alt="logo Elo" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/hipercard.svg}" alt="logo Hipercard" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/mastercard.svg}" alt="logo Mastercard" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/visa.svg}" alt="logo Visa" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/boleto.svg}" alt="logo Boleto" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/hiper.svg}" alt="logo hiper" class="mx-1">
                    <img width="80px" th:src="@{/images/logos/pix.svg}" alt="logo Pix" class="mx-1">

                </div>
                <div class="mt-4">
                    <h3 class="text-warning">Siga-nos!</h3>
                    <a href="https://www.facebook.com/" target="_blank" class="navbar-brand text-light">
                        <img th:src="@{/images/icons/facebook.png}" width="50px" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="navbar-brand text-light mx-3">
                        <img th:src="@{/images/icons/instagram.png}" width="50px" alt="">
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" class="navbar-brand text-light me-3">
                        <img th:src="@{/images/icons/twitter.png}" width="50px" alt="">
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" class="navbar-brand text-light">
                        <img th:src="@{/images/icons/youtube.png}" width="50px" alt="">
                    </a>
                </div>
                <br>
                <p>Desenvolvido por <strong>SSS</strong> &copy; Freedom turismo 2022.</p>
            </div>

        </footer>